<!DOCTYPE html>
<html>
<head>
  <title>Timer</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= yield :javascript_includes %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="app-header row">
      <div class="app-logo col-xs-6 text-left">TIMER</div>
      <div class="app-login col-xs-6 text-right">

        <% if current_user %>
          <%= link_to current_user.email, edit_user_registration_path %>
          <%= link_to "Logout", destroy_user_session_path, :method =>
          :delete %>
        <% else %>
          <%= link_to "Register", new_user_registration_path %>
          &nbsp;/&nbsp;
          <%= link_to "Login", new_user_session_path %>
        <% end %>

      </div>
    </div>
    <p class="notice bg-primary"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </header>

  <article>
    <%= yield %>
  </article>

  <footer class="app-footer text-right">
      Arturo Klie &copy; 2016
  </footer>

</body>
</html>
