<% content_for(:head) do %>
  <%= javascript_include_tag "timer.js" %>
<% end %>
<div class="container">
  <div class="row app-timer-header">
    <div class="col-xs-3"></div>
    <div class="col-xs-6 text-left">
      <!--h1>Timers</h1-->
    </div>
    <div class="col-xs-3"></div>
  </div>
  <% @timers.each do |timer| %>
  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6 app-timer-content text-center">
      <%= link_to 'X', timer, method: :delete, data: { confirm: 'Are you sure?' }, class: "app-delete", role: "button" %>
      <h3 class="app-timer-name"><%= timer.name %></h3>

        <div class="app-timer-timer" duration="<%= timer.timer %>">
            <span class="app-minutes">00</span> : <span class="app-seconds">00</span>
        </div>

      <div class="app-btns row">
        <a id="reset" href="#" class="btn" role="button">
           <b>&#10226;</b>
        </a>
        <a id="play" href="#" class="btn app-btn-toggle" role="button">
           <span>&#9658;</span><span class="hidden">&#10074;&#10074;</span>
        </a>
        <a id="clear" href="#" class="btn" role="button">
           &#8718;
        </a>
      </div>
      <%#= link_to 'Details', timer, class: "btn", role: "button" %>
      <%#= link_to 'Edit', edit_timer_path(timer), class: "btn", role: "button" %>
      <%#= timer.user2timer.email %>
    </div>
    <div class="col-xs-3"></div>
  </div>
  <% end %>
  <div class="row app-timer-footer">
    <div class="col-xs-3"></div>
    <div class="col-xs-6 text-right">
      <%= link_to 'New Timer', new_timer_path, class: "btn", role: "button" %>
    </div>
    <div class="col-xs-3"></div>
  </div>
</div>
